In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [11]:
df = pd.read_csv('../data/data.csv',sep='\t')
df

,Q1A,Q1I,Q1E,Q2A,Q2I,Q2E,Q3A,Q3I,Q3E,Q4A,...,screensize,uniquenetworklocation,hand,religion,orientation,race,voted,married,familysize,major
0,4,28,3890,4,25,2122,2,16,1944,4,...,1,1,1,12,1,10,2,1,2,NaN
1,4,2,8118,1,36,2890,2,35,4777,3,...,2,1,2,7,0,70,2,1,4,NaN
2,3,7,5784,1,33,4373,4,41,3242,1,...,2,1,1,4,3,60,1,1,3,NaN
3,2,23,5081,3,11,6837,2,37,5521,1,...,2,1,2,4,5,70,2,1,5,biology
4,2,36,3215,2,13,7731,3,5,4156,4,...,2,2,3,10,1,10,2,1,4,Psychology
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39770,2,31,3287,1,5,2216,3,29,3895,2,...,2,1,1,2,4,60,2,1,2,NaN
39771,3,14,4792,4,41,2604,3,15,2668,4,...,1,1,1,10,0,10,2,1,4,Mathematic
39772,2,1,25147,1,4,4555,2,14,3388,1,...,2,1,1,7,1,30,1,2,3,Computer Science
39773,3,36,4286,1,34,2736,2,10,5968,2,...,2,1,1,6,1,60,1,1,2,History
39774,2,28,32251,1,22,3317,2,4,11734,1,...,1,1,1,10,1,10,1,1,4,Cognitive Science

In [13]:
col = df.columns
for idx,i in enumerate(col):
    print(idx,i)

0 Q1A
1 Q1I
2 Q1E
3 Q2A
4 Q2I
5 Q2E
6 Q3A
7 Q3I
8 Q3E
9 Q4A
10 Q4I
11 Q4E
12 Q5A
13 Q5I
14 Q5E
15 Q6A
16 Q6I
17 Q6E
18 Q7A
19 Q7I
20 Q7E
21 Q8A
22 Q8I
23 Q8E
24 Q9A
25 Q9I
26 Q9E
27 Q10A
28 Q10I
29 Q10E
30 Q11A
31 Q11I
32 Q11E
33 Q12A
34 Q12I
35 Q12E
36 Q13A
37 Q13I
38 Q13E
39 Q14A
40 Q14I
41 Q14E
42 Q15A
43 Q15I
44 Q15E
45 Q16A
46 Q16I
47 Q16E
48 Q17A
49 Q17I
50 Q17E
51 Q18A
52 Q18I
53 Q18E
54 Q19A
55 Q19I
56 Q19E
57 Q20A
58 Q20I
59 Q20E
60 Q21A
61 Q21I
62 Q21E
63 Q22A
64 Q22I
65 Q22E
66 Q23A
67 Q23I
68 Q23E
69 Q24A
70 Q24I
71 Q24E
72 Q25A
73 Q25I
74 Q25E
75 Q26A
76 Q26I
77 Q26E
78 Q27A
79 Q27I
80 Q27E
81 Q28A
82 Q28I
83 Q28E
84 Q29A
85 Q29I
86 Q29E
87 Q30A
88 Q30I
89 Q30E
90 Q31A
91 Q31I
92 Q31E
93 Q32A
94 Q32I
95 Q32E
96 Q33A
97 Q33I
98 Q33E
99 Q34A
100 Q34I
101 Q34E
102 Q35A
103 Q35I
104 Q35E
105 Q36A
106 Q36I
107 Q36E
108 Q37A
109 Q37I
110 Q37E
111 Q38A
112 Q38I
113 Q38E
114 Q39A
115 Q39I
116 Q39E
117 Q40A
118 Q40I
119 Q40E
120 Q41A
121 Q41I
122 Q41E
123 Q42A
124 Q42I
125 Q42E
126 country
127 source
128 introelapse
129 testelapse
130 surveyelapse
131 TIPI1
132 TIPI2
133 TIPI3
134 TIPI4
135 TIPI5
136 TIPI6
137 TIPI7
138 TIPI8
139 TIPI9
140 TIPI10
141 VCL1
142 VCL2
143 VCL3
144 VCL4
145 VCL5
146 VCL6
147 VCL7
148 VCL8
149 VCL9
150 VCL10
151 VCL11
152 VCL12
153 VCL13
154 VCL14
155 VCL15
156 VCL16
157 education
158 urban
159 gender
160 engnat
161 age
162 screensize
163 uniquenetworklocation
164 hand
165 religion
166 orientation
167 race
168 voted
169 married
170 familysize
171 major

In [23]:


missing_values_count = df.isnull().sum()
for k,v in missing_values_count.iteritems():
    if v!=0:
        print(k,v)

country 2
major 11403

In [27]:
df.dropna(subset=['country'],inplace=True)

## Insights

In [35]:
df.groupby(col[171])[col[131:141]].mean()[col[134]].idxmax(axis=0)
#Seems like architecture results in more anxious personalities

' Architecture '

In [58]:
popular_majors=list(df['major'].value_counts()[:10].index)
popular_majors

['English',
 'Psychology',
 'Business',
 'Accounting',
 'Engineering',
 'psychology',
 'Law',
 'Medicine',
 'Science',
 'Biology']

Lets find out the personality of most people in the popular majors

In [71]:
df[df['major'].isin(popular_majors)].groupby(col[171])[col[131:141]].mean().idxmax(axis=0)

TIPI1         Science
TIPI2             Law
TIPI3        Business
TIPI4         English
TIPI5     Engineering
TIPI6         Biology
TIPI7      Psychology
TIPI8         English
TIPI9     Engineering
TIPI10     Accounting
dtype: object

TIPI1 Extraverted, enthusiastic.
TIPI2 Critical, quarrelsome.
TIPI3 Dependable, self-disciplined.
TIPI4 Anxious, easily upset.
TIPI5 Open to new experiences, complex.
TIPI6 Reserved, quiet.
TIPI7 Sympathetic, warm.
TIPI8 Disorganized, careless.
TIPI9 Calm, emotionally stable.
TIPI10 Conventional, uncreative.

The above shows the personality that is dominant among the majors. Most critical and quarrelsome personalities come from law which makes sense. Conventional and uncrreative people are frrom accounting which also make sense due to the standard logic in accounting. Most anxious and disorrganized personalities tend to come from english majors which base on personal experrience is quite hilarious.

## Data Preperation

In [72]:
df.info() #Major is object country is string

<class 'pandas.core.frame.DataFrame'>
Int64Index: 39773 entries, 0 to 39774
Columns: 172 entries, Q1A to major
dtypes: int64(170), object(2)
memory usage: 53.5+ MB

In [81]:
df.corr()[col[134]].sort_values(ascending=False)
#Q11 I found myself getting upset rather easily. 
#This question has the highest correlation to anxious participants which makes perfect sense

TIPI4        1.000000
Q11A         0.521177
Q29A         0.473912
Q1A          0.473516
Q6A          0.449303
               ...
TIPI1       -0.062510
married     -0.092162
education   -0.101495
TIPI5       -0.104459
TIPI9       -0.397106
Name: TIPI4, Length: 170, dtype: float64

In [82]:
df['major'].value_counts()

English               1026
Psychology             850
Business               621
Accounting             607
Engineering            582
                      ...
Comp Science             1
Art and Education        1
Veterinary science       1
criminal law             1
computer sciece          1
Name: major, Length: 5308, dtype: int64